.message {
  margin: 10px 0;
}

.messages {
  height: 200px;
  overflow-y: scroll;
  background-color: white;
  margin-bottom: 10px;
}

.messages-component {
  display: inline-block;
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
}